.todo-list-component {
    /* height: 800px;
    width: 800px; */
    /* background-color: bisque; */
    margin: 10px auto;
}

.app-header {
    font-size: large;
    margin: 10px 20px;
}

todo {
    list-style: none;
    height: 24px;
}

.li-todo {
    height: 24px;
    line-height: 12px;
    font-size: 18px;
    font: black;
}

.Done {
    text-decoration: line-through !important;
    background-color: cadetblue;
}

.Pending {
    text-decoration: none;
}

table.MuiTable-root tr:hover {
    background-color: rgb(87, 90, 90);
}
table.MuiTable-root .status:hover {
    background-color: rgb(87, 90, 90);
    cursor: pointer;
}